{% set form = formulaire.gestionFormulaireObservation(app.request)[1] %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {% if not form.vars.valid %}
        <div id="form-have-error"></div>
    {% elseif formulaire.gestionFormulaireObservation(app.request)[0] == "validated"  %}
        <div id="message-dom" data-content="L'observation a été enregistré avec succès !" ></div>
    {% endif %}
    {{ form_start(form, {'method' : 'POST', 'action' : path(app.request.attributes.get('_route')) } ) }}
    <div data-on="{'connexionState' : 'online'}" >
        {{ form_row(form.imageFile, {required : false}) }}
    </div>

    {{ form_row(form.oiseau,{ 'attr': {'class': 'awesomplete liste_espece', 'autocomplete' : 'off', 'aria-autocomplete' : 'list'} }) }}

<fieldset >
    <legend >Lieu de l'observation</legend >
    {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}
    <div id="btn-emplacement-actuel" class="btn btn-sm btn-default pull-right" >Emplacement actuel</div >
</fieldset >

    {{ form_errors(form) }}

<button type="button" class="btn btn-default" data-dismiss="modal" >Annuler</button >
{{ form_widget(form.submit) }}
{{ form_end(form) }}
